<div class="container bookmarkers-playful" id="bookmarkers">
  <div class="row">
    <div class="bookmarker" style="z-index:12; top:-20px;">
      <img src="https://s3-us-west-2.amazonaws.com/simple-custom-solutions/services/services-web-design.png" alt="" />
    </div>
    <div class="bookmarker" style="z-index:11; top:-20px; margin-left:-20px;margin-top:80px; height:270px; width:200px;">
      <img src="https://s3-us-west-2.amazonaws.com/simple-custom-solutions/services/services-web-design.png" alt="" />
    </div>
    <div class="bookmarker" style="z-index:10; top:-20px;margin-left:-20px;margin-top:20px;">
      <img src="https://s3-us-west-2.amazonaws.com/simple-custom-solutions/services/services-web-design.png" alt="" />
    </div>
    <div class="bookmarker" style="z-index:9; top:-20px; margin-left:-40px;margin-top:40px; height:170px; width:200px;">
      <img src="https://s3-us-west-2.amazonaws.com/simple-custom-solutions/services/services-web-design.png" alt="" />
    </div>
    <div class="bookmarker" style="z-index:8; top:-20px; margin-left:-30px;margin-top:10px; height:270px; width:200px;">
      <img src="https://s3-us-west-2.amazonaws.com/simple-custom-solutions/services/services-web-design.png" alt="" />
    </div>
    <div class="bookmarker" style="z-index:7; top:-20px; margin-left:-50px;">
      <img src="https://s3-us-west-2.amazonaws.com/simple-custom-solutions/services/services-web-design.png" alt="" />
    </div>
    <div class="bookmarker" style="z-index:6; top:-20px; margin-left:-30px;margin-top:40px; height:170px; width:200px;">
      <img src="https://s3-us-west-2.amazonaws.com/simple-custom-solutions/services/services-web-design.png" alt="" />
    </div>
  </div>
</div>
