 <%= render "shared/section_hero", obj: @section_hero %>

<section class="contact">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h2>Our Gurus are awaiting your call or message</h2>
        <p>
          Contact us and tell us about your business, we will be able to help you. And we promise to not subscrive you to any unwanted newsletter.
        </p>

        <form>
          <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" name="name" id="name" placeholder="Name">
          </div>
          <div class="form-group">
            <label for="email">Email address</label>
            <input type="email" class="form-control" id="email" name="email" placeholder="Email">
          </div>

          <div class="form-group">
            <label for="phone">Phone Number</label>
            <input type="text" class="form-control" id="phone" name="phone" placeholder="Phone Number">
          </div>

          <div class="form-group">
            <label for="exampleInputFile">Message</label>
            <textarea name="message"  rows="8" class="form-control"></textarea>
          </div>

          <button type="submit" class="btn btn-default">Send!</button>
        </form>

        <p>
          Also feel free to reach out to us at our Bay Area Office.
        </p>

        <div>
          <table class="table table-striped">
            <tr>
              <td>Phone Number:</td><td>312-622-7842</td>
            </tr>
            <tr>
              <td>Address:</td><td>Oakland, CAlifornia, 94607</td>
            </tr>
          </table>
        </div>

      </div>
    </div>
  </div>
</section>
