 <%= render "shared/section_hero", obj: @section_hero %>

<section class="contact">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h2>Getting Started</h2>
        <p>
          Drop us a line or two. We’re excited to hear from you and get the ball rolling. If you hate waiting around for your inbox notifications, please feel free to give us a call at the office!
        </p>

        <form>
          <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" name="name" id="name" placeholder="Name">
          </div>
          <div class="form-group">
            <label for="email">Email address</label>
            <input type="email" class="form-control" id="email" name="email" placeholder="Email">
          </div>

          <div class="form-group">
            <label for="phone">Phone Number</label>
            <input type="text" class="form-control" id="phone" name="phone" placeholder="Phone Number">
          </div>

          <div class="form-group">
            <label for="exampleInputFile">Message</label>
            <textarea name="message"  rows="8" class="form-control"></textarea>
          </div>

          <button type="submit" class="btn btn-default">Send!</button>
        </form>

        <p>
          Also, just a quick heads up, we won’t be adding your email to any subscriber lists. It’s just a conversation between the two of us, a dialogue. 
        </p>

      </div>
    </div>
  </div>
</section>
