<%= render "shared/section_hero", obj: @section_hero %>

<section class="portfolio">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h2>SAMBA.TV</h2>
        <h3>TV - MOBILE - WEB</h3>
      </div>
      <div class="col-sm-6">
        <img
          data-0-bottom="opacity:1;left:-10px;" data-300-bottom="opacity:0; left:-60px;"
          src="https://s3-us-west-2.amazonaws.com/simple-custom-solutions/portfolio/portfolio-samba.png" alt="" />
      </div>
      <div class="col-sm-6">
        <p data--50-bottom="opacity:1;right:0px;" data-100-bottom="opacity:0; right:-30px;">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </p>
        <p data--50-bottom="opacity:1;right:0px;" data-100-bottom="opacity:0; right:-30px;">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </p>
      </div>
      <div class="col-sm-12">
        <a class="btn btn-default btn-scs" href="#">+ LAUNCH</a>
      </div>
    </div>
  </div>
</section>

<section class="portfolio stitcher">
  <div class="container">
    <div class="row stitcher">
      <div class="col-sm-12">
        <h2>STITCHER</h2>
        <h3>WEB - EMBED</h3>
      </div>
      <div class="col-sm-6">
        <p data--50-bottom="opacity:1;left:0px;" data-300-bottom="opacity:0; left:-60px;">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </p>
        <p data--100-bottom="opacity:1;left:0px;" data-300-bottom="opacity:0; left:-60px;">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </p>
      </div>
      <div class="col-sm-6">
        <img
          data--50-bottom="opacity:1;right:0px;" data-100-bottom="opacity:0; right:-30px;"
          src="https://s3-us-west-2.amazonaws.com/simple-custom-solutions/portfolio/portfolio-stitcher-logo.png" alt="" />
        <img
          data--300-bottom="opacity:1;right:0px;" data-200-bottom="opacity:0; right:-30px;"
          src="https://s3-us-west-2.amazonaws.com/simple-custom-solutions/portfolio/portfolio-stitcher.png" alt="" />
      </div>
      <div class="col-sm-12">
        <a class="btn btn-default btn-scs" href="#">+ LAUNCH</a>
      </div>
    </div>
  </div>
</section>

<section class="portfolio">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h2>SABOR GANDAYA</h2>
        <h3>WEB - APP - CMS</h3>
      </div>
      <div class="col-sm-6">
        <p data-0-bottom="opacity:1;left:0px;" data-300-bottom="opacity:0; left:-60px;">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </p>
        <p data-0-bottom="opacity:1;left:0px;" data-300-bottom="opacity:0; left:-60px;">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </p>
      </div>
      <div class="col-sm-6">
        <img
          data--300-bottom="opacity:1;right:0px;" data-200-bottom="opacity:0; right:-30px;"
          src="https://s3-us-west-2.amazonaws.com/simple-custom-solutions/portfolio/portfolio-saborgandaya.png" alt="" />
      </div>
      <div class="col-sm-12">
        <a class="btn btn-default btn-scs" href="#">+ LAUNCH</a>
      </div>
    </div>
  </div>
</section>

<section class="portfolio stitcher">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h2>SPLUNK</h2>
        <h3>WEB - APP - CMS</h3>
      </div>
      <div class="col-sm-6">
        <img
          data--200-bottom="opacity:1;left:0px;" data-100-bottom="opacity:0; left:-60px;"
          src="https://s3-us-west-2.amazonaws.com/simple-custom-solutions/portfolio/portfolio-splunk.png" alt="" />
      </div>
      <div class="col-sm-6">
        <p data--50-bottom="opacity:1;right:0px;" data-100-bottom="opacity:0; right:-30px;">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </p>
        <p data--50-bottom="opacity:1;right:0px;" data-100-bottom="opacity:0; right:-30px;">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </p>
      </div>
      <div class="col-sm-12">
        <a class="btn btn-default btn-scs" href="#">+ LAUNCH</a>
      </div>
    </div>
  </div>
</section>
