<%= render "shared/section_hero", obj: @section_hero %>

<section class="portfolio">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h2>SAMBA.TV</h2>
        <h3>TV - MOBILE - WEB</h3>
      </div>
      <div class="col-sm-6">
        <img
          data-0-bottom="opacity:1;left:-10px;" data-300-bottom="opacity:0; left:-60px;"
          src="https://s3-us-west-2.amazonaws.com/simple-custom-solutions/portfolio/portfolio-samba.png" alt="" />
      </div>
      <div class="col-sm-6">
        <p data--50-bottom="opacity:1;right:0px;" data-100-bottom="opacity:0; right:-30px;">
          Samba.TV, a very small startup that started with a team of 10-12 employees, was our first client in the Bay Area.  The company focused on bringing television to multiple screens, offering overlay meta-data navigation on the “first screen,” and delivering outstanding analytics.
        </p>

        <p data--50-bottom="opacity:1;right:0px;" data-100-bottom="opacity:0; right:-30px;">
          The very first steps of offering an overlaying app running on general TV programming presented a huge challenge specifically because of the hardware being used. We were forced to learn every loop, hoop, hack and secret about the languages we were working on. It was 2011 and we were working with the very first “Smart” TVs and Set Top Boxes that included the most basic chipsets and rendering engines. Within two years, to the company’s surprise, the software had been deployed on over 10 million devices around the world
        </p>

        <p data--50-bottom="opacity:1;right:0px;" data-100-bottom="opacity:0; right:-30px;">
          At Samba.TV, we built apps for the TV, Desktops, Tables and Mobiles.
        </p>
      </div>
      <div class="col-sm-12">
        <a class="btn btn-default btn-scs" href="http://samba.tv">+ LAUNCH</a>
      </div>
    </div>
  </div>
</section>

<section class="portfolio stitcher">
  <div class="container">
    <div class="row stitcher">
      <div class="col-sm-12">
        <h2>STITCHER</h2>
        <h3>WEB - EMBED</h3>
      </div>
      <div class="col-sm-6">
        <p data--50-bottom="opacity:1;left:0px;" data-300-bottom="opacity:0; left:-60px;">
          Stitcher is a radio and podcast software, with apps native to iOS & Android and a web platform. We joined Stitcher to help them improve the compatibility and responsiveness of all their web facing products. Ranging from the Javascript Radio App - to their website - catalog - and embedded radio widget.
        </p>
        <p data--50-bottom="opacity:1;left:0px;" data-300-bottom="opacity:0; left:-60px;">
          One of the challenges at Stitcher was the strict deadlines. At that time they had committed to overhaul their systems and increase their user base significantly within one year. A magnificent and very capable team, overhauled by our services, was able to achieve all  goals and reach each one of the set milestones.
        </p>
        <p data--50-bottom="opacity:1;left:0px;" data-300-bottom="opacity:0; left:-60px;">
          The impact was massive, so much that by end of the year, a multimillion and international company called Deezer (France’s Spotify) decided to acquire the Stitcher products along with all of its employees.
        </p>
      </div>
      <div class="col-sm-6">
        <img
          data--50-bottom="opacity:1;right:0px;" data-100-bottom="opacity:0; right:-30px;"
          src="https://s3-us-west-2.amazonaws.com/simple-custom-solutions/portfolio/portfolio-stitcher-logo.png" alt="" />
        <img
          data--300-bottom="opacity:1;right:0px;" data-200-bottom="opacity:0; right:-30px;"
          src="https://s3-us-west-2.amazonaws.com/simple-custom-solutions/portfolio/portfolio-stitcher.png" alt="" />
      </div>
      <div class="col-sm-12">
        <a class="btn btn-default btn-scs" href="http://stitcher.com">+ LAUNCH</a>
      </div>
    </div>
  </div>
</section>

<section class="portfolio">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h2>SABOR GANDAYA</h2>
        <h3>WEB - APP - CMS</h3>
      </div>
      <div class="col-sm-6">
        <p data-0-bottom="opacity:1;left:0px;" data-300-bottom="opacity:0; left:-60px;">
        Sabor Gandaya is a Mexican-American artist, based in El Paso, TX, and Ciudad Juarez, Mexico. We joined Tune In Records in an effort to give voice and help Sabor Gandaya reach out to the masses with his incredibly moving messages of peace and the need to cease violence on all fronts.

        <p data-0-bottom="opacity:1;left:0px;" data-300-bottom="opacity:0; left:-60px;">
        A simple challenge: to set him up with a beautiful website and open up all the social media channels to allow his voice and music to reach any untapped audiences from afar.
        Our team created an aggressive plan in conjunction with Tune In Records; their side invested in production, recording, and postproduction of the artist, while we focused on building a web presence, accessible on all screens, and starting a conversation with new listeners via Social Media (Instagram, Facebook, Twitter, and Soundcloud).

        <p data-0-bottom="opacity:1;left:0px;" data-300-bottom="opacity:0; left:-60px;">
          We amplified Sabor Gandaya’s success by using Google Analytics, we were able to measure the success of every campaign by producing detailed reports and this allowed ourselves and the artist to shift gears in filling any identified gaps, which in turn increased the user and listener base on a weekly basis.
        </p>
      </div>
      <div class="col-sm-6">
        <img
          data--300-bottom="opacity:1;right:0px;" data-200-bottom="opacity:0; right:-30px;"
          src="https://s3-us-west-2.amazonaws.com/simple-custom-solutions/portfolio/portfolio-saborgandaya.png" alt="" />
      </div>
      <div class="col-sm-12">
        <a class="btn btn-default btn-scs" href="http://saborgandaya.com">+ LAUNCH</a>
      </div>
    </div>
  </div>
</section>

<section class="portfolio stitcher">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h2>SPLUNK</h2>
        <h3>WEB - APP - CMS</h3>
      </div>
      <div class="col-sm-6">
        <img
          data--200-bottom="opacity:1;left:0px;" data-100-bottom="opacity:0; left:-60px;"
          src="https://s3-us-west-2.amazonaws.com/simple-custom-solutions/portfolio/portfolio-splunk.png" alt="" />
      </div>
      <div class="col-sm-6">
        <p data--50-bottom="opacity:1;right:0px;" data-100-bottom="opacity:0; right:-30px;">
          Splunk is an American multinational corporation that is responsible for producing software for searching, monitoring, and analyzing machine-generated big data via a web-style interface.
        </p>
        <p data--50-bottom="opacity:1;right:0px;" data-100-bottom="opacity:0; right:-30px;">
          Our engineers joined Splunk to address the overwhelming Front End issues that the company was encountering. The primary focus was to assist their marketing team with a complete facelift of their customer facing websites. We processed a complete code review and set in motion a refactoring effort to fix the bug plagued front end of the company’s website.
        </p>
        <p data--50-bottom="opacity:1;right:0px;" data-100-bottom="opacity:0; right:-30px;">
          Not only did our engineers head the complete makeover of the company website, but they also built the original, responsive, and component-based websites and web applications.
        </P>

        <ul class="list-unstyled">
          <li><a href="http://conf.splunk.com">Splunk Conf</a></li>
          <li><a href="http://splunklive.splunk.com">Splunk Live</a></li>
          <li><a href="http://docs.splunk.com">Splunk Docs</a></li>
          <li><a href="http://usergroups.splunk.com">Splunk User Groups</a></li>
        </ul>
      </div>
      <div class="col-sm-12">
        <a class="btn btn-default btn-scs" href="http://splunk.com">+ LAUNCH</a>
      </div>
    </div>
  </div>
</section>
