<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h1>Editing template</h1>

      <%= render 'form' %>

      <%= link_to 'Show', @template, class: "btn btn-default" %> |
      <%= link_to 'Back', templates_path, class: "btn btn-default" %>
      <br /><br />
    </div>
  </div>
</div>
