<section class="section-hero">
	<div class="background-image skrollable skrollable-between" style="background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(<%= sectionhero.img %>);" data-0="background-position: 0px -0px;" data-500="background-position: 0px -200px;">
	</div>
	<div class="container">
		<div class="row">
			<div id="col-lg-12">
				<h1><%= sectionhero.h1 %></h1>
				<hr/>
				<p><%= sectionhero.p %></p>
			</div>
		</div>
	</div>
</section>