.section-default-imgbottom {
	padding-top:30px;
	text-align:center;
	h2 {
		font-size:38px;
		font-weight: bolder;
	}
	img {
		max-width: 100%;
	}
	.imgcontainer {
		//height:429px;
	}
  .padding-bot {
    height:60px;
  }
}
