header {
  text-transform: uppercase;
  .collapse {
    > ul {
      > li {
        > a {
          font-weight: lighter;
          font-family: "HelveticaNeueLTStd-Lt", Arial, sans-serif;
        }
      }
    }
  }
}
