header {
  text-transform: uppercase;
  .collapse {
    > ul {
      > li {
        > a {
          font-weight: lighter;
          font-family: "HelveticaNeueLTStd-Lt", Arial, sans-serif;
        }
      }
    }
  }
}

@media (min-width: 768px) {
  header {
    .navbar-nav>li>a {
      padding-top: 17px;
    }
  }
}
