// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$dropdown-link-hover-color: #ffffff;
$dropdown-link-hover-bg: #F58723;
$dropdown-link-color: #000000;

$navbar-default-bg: #5F5F5F;
$navbar-default-color: #EAEAEA;
$navbar-default-link-color: #EAEAEA;
$navbar-default-link-active-color: #EAEAEA;

body {
	font-size:18px;
}

header {
	font-size:14px;
	background-color: $navbar-default-bg;
	img {
		height:40px;
		margin-top:-16px;
		position:relative;
		top:6px;
		margin-right:10px;
	}
	.navbar {
		margin-bottom 	: 0px;
		background-color: rgba(0,0,0,.7);
		/*
	  	background-image: -webkit-linear-gradient(top, #000000, #222222);
	  	background-image:         linear-gradient(to bottom, #000000, #222222);
		*/
		
	}
	.dropdown-menu {
		font-size:.9em;
	}
}

.background-image {
	position:absolute;
	height:100%;
	width:100%;
}

.section-hero {
	text-align:center;
	position:relative;
	height:600px;
	div {
		height:100%;
	}
	
	color:#ffffff;
	overflow:hidden;
	
	.container {
		position:relative;
	}
	h1 {
		position:relative;
		display:block;
		font-size:70px;
		font-family:"Helvetica Neue", sans-serif;
		font-weight:lighter;
	}
	p {
		font-weight:lighter;
	}	
}

.section-whyscs {
	padding-bottom:50px;
	min-height:400px;
	position:relative;
	.background-image {
		background-size:cover;
	}
	h1 {
		margin-top:110px;
		font-weight:bolder;
		margin-bottom:30px;
	}
	text-align:center;
}


.section-fouricons {
	h1 {
		text-align:center;
		margin-top:70px;
		margin-bottom:30px;
		font-weight:bolder;
	}
	.heading>p {
		text-align:center;
	}
	.iconsrow {
		margin-bottom:20px;
	}
	
	>.container .row:nth-child(2) {
		margin-top:50px;
	}
	
	i {
		font-size: 70px;
		padding-right:16px;
		float:left;
		width: 95px;
		text-align:center;
	}
	padding-bottom:70px;
}

.section-carousel-intro {
	background-color:#f7f7f7;
	.row {
		height: 400px;
		padding-top: 65px;
		>div {
			height:100%;
		}
		.icon-wrapper {
			text-align:left;
		}
		img {
			position: absolute;
			bottom: 0px;
		}
	}
	.carousel-indicators .active {
		background:#2d2d2d;
	}
	.carousel-indicators {
		top:20px;
		li {
			border-color:#2d2d2d;
		}
	}
	i {
		left:40px;
		position:absolute;
		bottom:0px;
	}
	.row>div {
		height:100%;
	}
}

.section-thumbnail {
	padding-top:50px;
	padding-bottom:50px;
	.heading {
		h1 {
			text-align:center;
			margin-bottom:20px;
		}
		p {
			margin-bottom:40px;
		}
	}
	.thumbnail {
		padding:0px;
	}
	img {
		width:100%;
		background: #f7f7f7;
	}
}

.section-cover {
	height:600px;
	background: linear-gradient(
	      rgba(0, 0, 0, 0.5), 
	      rgba(0, 0, 0, 0.5)
	    ),
	url(/assets/background-revenue.jpeg);
	background-size:cover;
	h1 {
		color:white;
		text-align:center;
		position: absolute;
		top: 50%;
		margin-top: -70px;
		width:100%;
		font-size:70px;
	}
	div {
		height:100%;
		width:100%;
	}
}

.section-four-inline {
	padding-top:50px;
	padding-bottom:60px;
	text-align:center;
	.icon i{
		font-size:50px;
	}
	h1 {
		font-weight:200;
		font-size:28px;
	}
	p {
		font-weight:200;
		font-size:16px;
	}
}

.section-default-imgbottom {
	text-align:center;
	img {
	}
	.imgcontainer {
		height:429px;
	}
}

.section-default-imgleft {
	background-color:rgb(172, 197, 218);
	padding-top:50px;
	padding-bottom:70px;
	img {
		width:100%;
	}
}

footer {
	a {
		color:#ffffff;
	}
	font-size:16px;
  	padding:60px 0 70px 0;
	background-image: -webkit-linear-gradient(top, #000000, #2e2e2e); /* Chrome 10-25, iOS 5+, Safari 5.1+ */
	background-image:         linear-gradient(to bottom, #000000, #2e2e2e); /* Chrome 26, Firefox 16+, IE 10+, Opera */
	color:#f7f7f7;
	.address {
		font-weight:lighter;
		font-size:14px;
	}
	b, h4 {
		color:#acc5da;
	}
	.address b {
		font-size:16px;
		font-weight:500;
	}
}

footer form label {
  font-weight:normal;
}

#logo-footer {
  display:table;
  width:100%;
  font-weight:lighter;
  font-size:13px;
}

#logo-footer>div {
  display:table-cell;
  text-align:center;
  width:100%;
}

#logo-footer img {
  display:inline-block;
}